Source: apt-moreutils
Section: misc
Priority: optional
Maintainer: Jean-Christophe Dubacq <jcdubacq1@free.fr>
Build-depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4
Vcs-Browser: https://github.com/jcdubacq/apt-moreutils
Vcs-Git: https://github.com/jcdubacq/apt-moreutils.git
Homepage: https://github.com/jcdubacq/apt-moreutils

Package: apt-moreutils
Architecture: all
Depends: python, python-apt (>= 0.7.93~), ${misc:Depends}
Description: Miscellaneous utilities for package management
 apt-origins checks in the apt sources where a package is downloadable
 from, and assigns each package to an origin. It can then display how many
 packages come from each source and which ones.
 .
 apt-tree gives a somewhat robust state of your installed packages, to be
 able to replicate the same packages on another computer.
 .
 apt-missing shows missing dependencies (or recommends, or else) of installed
 packages.
